.cover {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-color: #000;
  background-image: url("img/speaking.jpg");

  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(26,40,120,0.70), rgba(10,143,196,0.70));
  }
  .inputContent {
    width: 30%;
    height: 40px;
    font-size: 20px;
    margin: 0 auto;
  }

  .search{
    margin: 20px auto;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: darkseagreen;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }

  .descr{
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.55;
  }

  .picOne{
    background-image: url("img/img1.jpg");
    background-color: #61dafb;
  }

  .wrap {
    position: relative;
    z-index: 1;
    padding: 100px 16px;
    max-width: 1024px;
  }
  .title {
    margin-top: -150px;
    font-size: 68px;
    color: white;
    padding: 24px 0;
  }
  .par {
    color: white;
    padding: 15px 0 30px 0;
    font-size: 20px;
    line-height: 1.55;
  }
  svg{
    margin-top: -100px;
    width: 200px;
    height: 200px;
    g{
      color: darkseagreen;
    }
  }
}